---
import Layout from '../layouts/Layout.astro';
---

<Layout showBackToIndex="true" title="Age calculator app">
  <div class="bg-zinc-200 font-poppins py-20">
    <div class="bg-white pt-20 sm:p-10 p-5 rounded-br-[4rem] sm:rounded-br-[10rem] rounded-xl w-fit m-auto">
      <form id="birth-form">
        <div class="flex flex-row gap-5 sm:mb-5 mb-10 tracking-widest font-bold sm:mr-24">
          <div class="flex flex-col gap-1">
            <label id="day-label" for="day" class="text-gray-500 text-xs">DAY</label>
            <input id="day" name="day" placeholder="DD" type="number" class="border border-gray-200 sm:text-2xl text-lg rounded-lg appearance-none sm:p-5 p-3 sm:w-32 w-20 h-14 outline-none focus:border-purple-400">
            <div id="day-invalid" class="font-normal text-xs italic text-red-400 tracking-normal invisible">filler</div>
          </div>
          <div class="flex flex-col gap-1">
            <label id="month-label" for="month" class="text-gray-500 text-xs">MONTH</label>
            <input id="month" name="month" placeholder="MM" type="number" class="border border-gray-200 sm:text-2xl text-lg rounded-lg appearance-none sm:p-5 p-3 sm:w-32 w-20 h-14 outline-none focus:border-purple-400">
            <div id="month-invalid" class="font-normal text-xs italic text-red-400 tracking-normal invisible">filler</div>
          </div>
          <div class="flex flex-col gap-1">
            <label id="year-label" for="year" class="text-gray-500 text-xs">YEAR</label>
            <input id="year" name="year" placeholder="YYYY" type="number" class="border border-gray-200 sm:text-2xl text-lg rounded-lg appearance-none sm:p-5 p-3 sm:w-32 w-20 h-14 outline-none focus:border-purple-400">
            <div id="year-invalid" class="font-normal text-xs italic text-red-400 tracking-normal invisible">filler</div>
          </div>
        </div>
        <div class="relative">
          <hr class="border-t border-t-gray-200">
          <button class="sm:w-16 sm:h-16 w-12 h-12 bg-purple-600 rounded-full absolute -translate-y-1/2 translate-x-1/2 sm:translate-x-0 sm:right-0 flex items-center justify-center hover:bg-black cursor-pointer right-1/2">
            <!--<img src="./icons/icon-arrow.svg" class="sm:w-8 w-5"/>-->
          </button>
        </div>
      </form>
      <div class="font-bold italic text-5xl sm:text-6xl sm:mt-10 mt-16">
        <div><span id="year-container" class="text-purple-600">- -</span> years</div>
        <div><span id="month-container" class="text-purple-600">- -</span> months</div>
        <div><span id="day-container" class="text-purple-600">- -</span> days</div>
      </div>
    </div>
    <!--<script src="./src/js/scripts.js" type="module"></script>-->
  </div>
</Layout>
