---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-4xl mt-12">Frontend Mentors &mdash; Challenges</h1>
  <ul class="list-disc list-inside mt-6 w-fit">
    <a href="./agecalculatorapp/" class="hover:text-teal-500 hover:underline"><li>Age calculator app</li></a>
  </ul>
</Layout>
